<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.clt.yizu.mapper.CaseMapper" >
  <resultMap id="BaseResultMap" type="cn.com.clt.yizu.model.Case" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="case_id" property="caseId" jdbcType="VARCHAR" />
    <result column="case_img" property="caseImg" jdbcType="VARCHAR" />
    <result column="img_urls" property="imgUrls" jdbcType="VARCHAR" />
    <result column="case_title" property="caseTitle" jdbcType="VARCHAR" />
    <result column="case_introduce" property="caseIntroduce" jdbcType="VARCHAR" />
    <result column="case_content" property="caseContent" jdbcType="VARCHAR" />
  </resultMap>
</mapper>